version: '3.8'
networks: # to create a custom bridge
  sombr111: 
services:
  somapp007:
    image: somciapp:v1 
    build: . 
    container_name: somcic1
    ports:
    - "1127:80"
    restart: always 
    networks: # use bridge created above 
    - sombr111
